
* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #282C34;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin: 20px 0;
  color: #fff;
}

.contenedor-sprint {
  width: 1170px;
  height: 1360px;
  padding: 15px;
  background-color: #ebecf0;
  border-radius: 10px;
}

.fila {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
